<H2>Login</H2>

<form method="POST">
<label for="input-name">Name</label>
<input type="text" id="input-name" name="userName" placeholder="Name">

<label for="input-password">Password</label>
<input type="password" id="input-password" name="password" placeholder="Password">

<button>Login</button>
</form>