<h3>Sign-Up Page</h3>

<form method="Post">
    <label for="input-username">User Name</label>
    <input type="text" id="input-username" name="userName" placeholder="User Name">

    <label for="input-password">Password</label>
    <input type="password" id="input-password" name="password" placeholder="Password">

    <button>Sign Up</button>
</form>