<h2>Sign-Up</h2>

<form method="Post">
    <label for="input-username">Name</label>
    <input type="text" id="input-username" name="userName" placeholder="Name">

    <label for="input-password">Password</label>
    <input type="password" id="input-password" name="password" placeholder="Password">

    <button>Sign Up</button>
</form>

{{!--<a href="/login">Login</a>--}}